.nav-item{
    padding: 0 1em;
    border-right: solid #868e96 1px;
}

table.sticky {
    position: relative;
    border-collapse: collapse;
}

table.sticky th {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}