{% extends 'base.html.twig' %}

{% block title %}Новая папка{% endblock %}

{% block body %}
    <h1>Добавить новую папку</h1>

    {{ include('batch/_form.html.twig') }}


{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/depended_lists.js') }}"></script>
{% endblock %}
